.fondo{
    background-image: url(/foncomi/fon.jpg) no-repeat;
    overflow: hidden;
}
.fondito{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.headbar{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    overflow: hidden;
    background-color: rgba(248, 238, 99, 0.397);
    width: 100vw;
    height: 110px;
    top: 0;
    left: 0;
}
h1{
    color: white;
}
.pie{
    position: absolute;
    overflow: hidden;
    background-color: rgba(248, 238, 99, 0.397);
    width: 100vw;
    height: 40px;
    bottom: 0;
    left: 0;
}
.htmlbody1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.htmlbody1 div{
    float: left;
    width: 300px;
    height: 200px;
}
/*.tenerife{
    position: absolute;
    width: 400px;
    height: 200px;
}
*/
.imgtenerife{
    width: 200px;
    height: 200px;
}
/*
.grancan{
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 320px;
}
*/

.imggrancanaria{
    width: 200px;
    height: 200px;
}
/*
.lapalma{
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 640px;
}
*/
.imglapalma{
    width: 200px;
    height: 200px;
}
/*
.lanzarote{
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 960px;
}
*/
.imglanzarote{
    width: 300px;
    height: 300px;;
}
.htmlbody2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    margin-top: 470px;
    margin-left: 160px;
    float: left;
}
.fuerteventura{
    position: absolute;
    width: 400px;
    height: 200px;
    }
.imgfuerteventura{
    width: 300px;
    height: 300px;
}
.lagomera{
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 320px;
    }
.imglagomera{
    width: 300px;
    height: 300px;
}
.elhierro{
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 640px;
    }
.imgelhierro{
    width: 300px;
    height: 300px;
}