body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-image: 
  url(../Tenerife/imagenes/teide.jpg);
  background-repeat:no-repeat;
  background-size: contain;
  margin:0
}
p{
  font-size:x-large;
}
nav .menu{
  height: 50px;
  width: 120%;
  border: none;
  text-align: center;
}
.menu div{
  background-color: rgb(134, 134, 255);
  height: 50px;
  width: 12%;
  float: left;
  overflow: hidden;
}
.menu div a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size:larger;
  color: white;
  display: block;
  height: 35px;
  width: 100%;
  padding-top: 15px;
  transition: 300ms all linear;
}
a:hover{
  background-color: rgb(85, 85, 240);
  background-color: rgb(57, 111, 192);
  color: burlywood;
  text-shadow: 0px 1px 1px #333, 1px 1px 1px #333, 1px 2px 1px #333, 2px 2px 1px #333;
}
h1{
  text-align: center;
  font-size: 10em;
  color: rgb(180, 163, 136);
  text-shadow: 3px 3px 2px rgb(129, 111, 83);
}

.titulo p{
  text-align: center;
  font-size: 30px;
  margin-top: -130px;
  color: rgb(180, 163, 136);
 
}

h2{
  text-align: center;
  font-size: 3em;
  background-color: rgb(57, 111, 192);
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  text-shadow: 1px 1px 2px black;
}
    
h3{
  text-align:center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
}
nav{
  background-color: rgb(57, 111, 192);
  display: inline-block;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

nav div#nombre{
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.Comidas{
  background-image: url(../Tenerife/imagenes/penca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.Comidas img{
  border-radius: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(57, 111, 192);
  width: 25em;
  height: 25em;
  margin-bottom: 20px;
  margin-left: 5em;
} 
    
.Comidas h3{
  margin-left: 4em;
  max-width: 20em;
  text-align: center;
  margin-top: -10px;
  font-size: 20px;
  border-radius: 40px;
  background-color:rgb(57, 111, 192) ;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-shadow: 1px 1px 2px black;
}

.Comidas p{
  color: white;
  padding: 25px;
  border-radius: 40px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin-top: -1em;
  font-size: 25px;
  margin-left: 8em;
  margin-right: 8em;
  position:static;
  background-color:rgb(57, 111, 192, 85%);
  text-shadow: 1px 1px 2px black;
}
    
.lugares{
  margin-top: -40px;
  background-image: url(../Tenerife/imagenes/comida.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lugares img{
  border-radius: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(57, 111, 192);
  width: 25em;
  height: 25em;
  margin-bottom: 20px;
  margin-right: 5em;
      
}
.lugares p{
  color: white;
  padding: 25px;
  border-radius: 40px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin-top: -1em;
  font-size: 25px;
  margin-left: 8em;
  margin-right: 8em;
  position:static;
  background-color:rgb(57, 111, 192, 85%);
  text-shadow: 1px 1px 2px black;
}

.lugares h3{
  margin-left: 0.5em;
  max-width: 20em;
  text-align: center;
  margin-top: -10px;
  font-size: 20px;
  border-radius: 40px;
  background-color:rgb(57, 111, 192) ;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-shadow: 1px 1px 2px black;
}
   