body{
    background-image: url(foncomi/fon.jpg);
    background-repeat:no-repeat;
    overflow: hidden;
    background-size: cover;
}
.principal{
    color: white;
    font-size: x-large;
}
img{
    width: 120px;
    height: 120px;
}
.headbar{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    overflow: hidden;
    background-color: rgba(248, 238, 99, 0.397);
    width: 100vw;
    height: 110px;
    top: 0;
    left: 0;
}
h1{
    color: white;
    text-shadow: 0px 7px 9px rgba(0,0,0,0.91);
    font-size: 20px;
}
h3{
    color: white;
    text-shadow: 0px 7px 9px rgba(0,0,0,0.91);
    font-size: 20px;
}
.pie{
    position: absolute;
    overflow: hidden;
    background-color: rgba(248, 238, 99, 0.397);
    width: 100vw;
    height: 40px;
    bottom: 0;
    left: 0;
}

.htmlbody1 div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 250px;
    float: left;
    margin-left: 300px;
    top: 200px;
}

.htmlbody2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1500px;
    height: 300px;
    position: absolute;
    top: 600px;
    left: 130px;
}
.htmlbody2 div{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 300px;
    float: left;
    top: 200px;
}
